.IngredientsContainer {
  width: 100%;
}

.IngredientsBox80983 {
  width: 100%;
  margin: 0 auto;
}

.ingredientListItem9879347 img {
  height: 40px;
}

.ingredientImage0283759 {
  display: flex;
  justify-content: center;
}

.ingredientImage0283759 img {
  height: 120px;
}